body{
    font-family: sans-serif;
    background-color:bisque;
}
.wrap{
    
    margin: 0 auto;
    background-color: red;
    padding:32px;
}
header{
    background-color: yellow;
    height:150px;
    padding:4px;
}
header h1{
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
}
header h2{
    font-variant: small-caps;
    text-align:center;
}
.main-menu{
    padding:5px 0 5px 0;
    text-align: center;
    line-height: 32px;
}
ul.main_menu{
    margin-top: 15px;
    color: aliceblue;
}
.main_menu li{
    display: inline;
    padding: 0 10px 0 10px;
    font-size:16px;
    color: black;
    text-align: center;
}
.main_menu a{
    text-decoration: none;
    padding:8px;
    font-variant: small-caps;
}
.main_menu a:hover{
    color: black;
}
footer a{
    text-decoration: none;
    font-family: sans-serif;
    color:black;
    text-transform: uppercase;
    padding: 10px;
    font-size: 12px;
    text-align: center;

}
footer a:hover{
    color:red;

}
footer{
    margin-left: 35px;
    margin-right: 35px;
    padding: 5px 5px 1px 0;
    text-align: center;
    background-color:yellow;
}